<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>数据转发中心</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css"/>

</head>

<body>
<div class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">管理中心</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">注册/登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-4 col-md-offset-4 column">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">错误提示：</h2>
                </div>
                <div class="panel-body">
                    <p th:text="${info}">information</p>
                    <a th:href="@{${backLink}}">点击返回</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>